body{
    margin: 0;
    padding: 0;
}
h1{
    margin-top: 0;
    text-shadow: 8px 10px 10px black;
    padding-top:5vh;
    font-style: italic;
    font-size: 60px;
    color: aliceblue;
}
h2{
    font-size: 35px;
    font-style: italic;
    text-shadow: 4px 5px 5px black;
    text-align: right;
    padding-right: 10vh;
    color: aliceblue;
}
.grid-container{
    display: grid;
    height:75vh;
    grid-template-columns: 1fr 8fr 1fr;
}
.grid-thumbnail{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap:3vh;

}

header{
    background-image: url("images/logo.png"); 
    background-repeat: no-repeat;
    background-origin:unset;
    background-position-y: -75vh;
    background-color: bisque;
    
    text-align: center;
    border-bottom: 1px solid black;
    height: 25vh;
}
nav{
    margin:0;
    background-color: #BEFCAE;
}

aside{
    margin:0;
    background-color: #BEFCAE;
    
}

main{
    margin:0;
    padding-left:3%;
    padding-right:3%;
    background-color:blanchedalmond;
}
#text_content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: italic;
}

.thumbnail-card{
    text-align: center;
}